html,body{
    height: 100%!important;
}
.bm{
    min-height: 87%!important;
}

  .backbottom{
    background-color: var(--botton-background)!important;
    border-color: var(--botton-background)!important;
    color: var(--page-background);
    transition: all 0.3s;
}
.backbottom:hover{
    color:var(--page-background);
    background-color: #eee!important;
}
.maincolortext{
    color:var(--page-background);
}
.cardimage{
    object-fit: cover;
    height: 100%!important;
}
.pricesale{
    text-decoration: line-through;
    color: #888!important;
}
@media(max-width:769ox){
    .bm{
        min-height: 89%!important;
    }
}
@media(max-width:1025px){
    .bm{
        min-height: 91%!important;
    }

}
.cateogrylinks{
    text-align: justify!important;
}
.cateogry-bg{
    background-color: #eee;
    padding: 0!important;
}